@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>User Login</h2>
<div>
    <div class=col-md-12>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <input asp-for="UserName" class="form-control" placeHolder="Username" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Password" type="password" class="form-control" placeHolder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="checkbox">
                    <label asp-for="RememberMe" >
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(x => x.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
