@model RegisterViewModel
@{
    ViewData["Title"] = "Register";

    if(@ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success" role="alert">
          @ViewBag.SuccessMessage
        </div>       
    }
}

<h2>User Register</h2>
<div>
    <div class=col-md-12>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <input asp-for="Name" class="form-control" placeHolder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Surname" class="form-control" placeHolder="Surname" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="UserName" class="form-control" placeHolder="Username" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Email" type="email" class="form-control" placeHolder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Password" type="password" class="form-control" placeHolder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeHolder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
